before_install:
  - sudo apt-get install -y bind9utils
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "nightly"
matrix:
  allow_failures:
    - python: "nightly"
install:
  - pip install -e .
  - pip install pytest
script:
  - pytest
sudo: false
